@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-site: #feb556;
  --secondary-site: #F79C27;
  --background-site: #000;
  --primary-light: #fff;
  --primary-dark: #000;
  --primary-medium: rgb(100 116 139);
  --secondary-light: #FFF7EB;
  --secondary-dark: rgb(30 41 59);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--primary-site);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    height: 2px;
    background: var(--primary-dark);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.layout-component {
  min-height: 100vh;
  min-height: 100svh;
}

.half-screen-size {
  height: 50vh;
  height: 50svh;
}

.top-bar{
  position: fixed;
  z-index: 2;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  background: var(--primary-dark);
  transition: transform 0.3s ease-out;
}

.top-bar.bar-hidden{
  transform:translateY(-60px);
}

.logo-container{
  position: fixed;
  z-index: 3;
  top: 7.5px;
  left: 5px;
  padding: 5px 0px;
  height: 35px;
}

.logo-container:hover{
  cursor: pointer;
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

nav a:last-child {
  background-color: var(--primary-site);
  height: 28px;
  transition: all 0.3s ease-out;
}

nav a::after{
  content:'';
  display: block;
  background: var(--primary-light);
  height: 1px;
  width: 100%;
  transform-origin: left;
  transition: transform 0.3s ease-out;
  transform: scaleX(0)
}

nav a:hover::after{
  transform: scaleX(1);
}

nav a:last-child:hover, .active-cart{
  background-color: var(--primary-light) !important;
}

.active-link::after{
  content:'';
  background: var(--primary-light);
  height: 1px;
  width: 100%;
  transform: scaleX(1);
}

section h2::after {
  content: '';
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
  background-color: var(--primary-light);
  height: 1px;
  width:50%;
  margin-left: 25%;
}

.comment-box{
  width: 350px;
  margin: 0px 50px;
}

.page-container{
  animation-name: fade-in;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.footer-container{
  width: 80%;
  border-right: 1px solid var(--primary-site);
  border-left: 1px solid var(--primary-site);
}

.titulo-caracteristicas::after {
  content: '';
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
  background-color: var(--primary-site);
  height: 1px;
  width:50%;
  margin-left: 25%;
}

.toast-box{
  top: 70px;
  right: 20px;
  position: absolute;
}

.toast-item{
  color: var(--primary-dark);
  background-color: var(--primary-site);
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 15px;
  width: fit-content;
  margin: 5px;
  animation-name:toast-fade;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fade-in{
  0%{
      opacity:0%;
  }
  100%{
      opacity: 100%;
  }
}

@keyframes toast-fade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%
  }
  80%{
    opacity: 100%
  }
  100%{
    opacity: 0%;
  }
}